html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(rgb(33, 37, 41), rgb(51, 51, 51));
  min-height: 100vh;
}


:root{
  --blob: "m 238.11131,151.0746 c -0.99979,21.59283 -18.75134,29.80493 -32.39323,46.90857 -22.25535,27.90285 -21.87549,27.29364 -59.98747,23.45429 -21.73642,-2.18971 -40.31946,10.8376 -65.686268,11.72714 C 55.593554,234.02202 37.453244,226.18416 25.45575,206.63892 13.458257,187.09368 8.0593849,167.54844 9.2591339,148.0032 10.458884,128.45796 8.0593849,107.60971 2.0606381,85.458436 -3.9381084,63.307167 3.1604086,46.367961 23.356189,34.640817 43.55197,22.913674 64.147665,13.792562 85.143277,7.277483 106.13889,0.76240299 128.43423,-1.3782661 152.0293,0.85547549 175.62437,3.0892172 193.52063,13.69949 205.71808,32.686294 c 12.19745,18.986801 20.89563,38.066677 26.09455,57.239626 5.19891,19.17295 7.29847,39.55584 6.29868,61.14868 z";
}


h1{
  color: white;
}

